// Font Type

$main-text-font: "Montserrat", sans-serif;

// Font Sizes

$fs-small-text: 0.75rem;
$fs-main-text: 1rem;
$fs-big-text: 1.5rem;
$fs-subtitle: 2rem;
$fs-title: 3rem;
$fs-404: 18rem;

// Font Weight

$fw-standard: 500;
$fw-bold: 700;

// Palette

$full-white: #ffffff;
$light-gray: #f4f4f4;
$dark-black: #000000;
$faded-black: rgba(0, 0, 0, 0.5);
$main-red: #ff6060;